<!DOCTYPE html>
<html lang="pt-br">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Front-End | 0rakul0</title>
 <link rel="stylesheet" href="css/style.css">
</head>

<body>
 <header>
  <nav>
   <ul>
    <li><a href="#section1">Header</a></li>
    <li><a href="#section2">Main</a></li>
    <li><a href="#section3">Galeria</a></li>
    <li><a href="#section4">Contatos</a></li>
    <li><a href="#footer">Footer</a></li>
   </ul>
  </nav>
 </header>
 <main>

  <section>
   <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
     <legend><h1>{{question.question_texto}}</h1></legend>
     {% if erro_message %} <p> <strong> {{erro_message}} </strong></p> {% endif %}
     {% for choice in question.choice_set.all %}

     <input type="radio" name="mudanca" id="mudanca{{forloop.counter}}" value="{{mudanca.id}}">
     <label for="mudanca{{forloop.counter}}">{{mudanca.mudanca_text}}</label><br>

     {% endfor %}
    </fieldset>
    <input type="submit" value="Votar">
   </form>
  </section>

 </main>
 <footer id="footer">
  <p>&copy; 0rakul0</p>
 </footer>
</body>

</html>